.gallery-section {
    background-color: #0c2f6e;
}
article {
    float: left;
    border: 1px solid;
    border-radius: 10px;
    width: 45%;
    margin: 2%;
    margin-top: 1vw;
    border-radius: 10px;
    background-color: #f4f4f4;
    min-width: 350px;
}
article:nth-child(even) {
    float: right;
}
figure {
    background-color: #f4f4f4;
    text-align: center;
    margin: 10px;
}
figcaption {
    background-color: #f4f4f4;
}
figcaption {
    text-align: center;
    clear: both;
    color: #0c2f6e;
}
